<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <style>
        body {padding: 50px;}
        .error {color: red;}
        .success {color: green;}
    </style>
    </head>
    <body>