<% var title = 'sample login' %>
<% include head %>
<h1>Login</h1>

<%- message %>

Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar"

<form method="post" action="/login">
    <p>
        <label>User name :</label>
        <input type="text" name="username">
    </p>

    <p>
        <label>Password :</label>
        <input type="text" name="password">
    </p>

    <p>
        <input type="submit" value="Login">
    </p>
</form>