    <% include header.html %>
    <% include menu.html %>
    <link href="../css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <style>
    #wrap {
        /*text-align: left;*/
        width: 80%;
        margin: 50px auto;
        text-align: left;
    }
    </style>
    <script>
        var category = <%- category%>
        $(function() {
            makeCategory();
            $('#btnWrite').click(function() {
                var p = {};
                p['title'] = $('#title').val();
                p['categoryIDX'] = $('#categoryIDX').val();
                p['body'] = $('#edit').editable("getHTML")[0];
                console.log(p);

                $.post('/write', p, function(res) {
                    console.log(typeof res);
                    if(typeof res === 'object') {
                        if(res.state == '1') {
                            alert('저장 성공');
                            location.href = '/write';
                        } else {
                            alert(res.msg);
                        }
                    }
                }, 'JSON');
            });
        });

        var makeCategory = function() {
            if(typeof category === 'object') {
                var h = '';
                h += '<select id="categoryIDX">';
                for(var i in category) {
                    h += '<option value="' + category[i].categoryIDX + '">' + category[i].categoryName + '</option>';
                }
                h += '</select>';
                $('#categoryPannel').html(h);
                delete h;
            } else {
                alert('카테고리를 생성 할 수 없습니다.');
                return;
            }
        };
    </script>

    <div id="wrap" style="">
        <div>
            <label>제목</label>
            <input type="text" size="50" id="title" />
        </div>
        <div>
            <label>카테고리</label>
            <div id="categoryPannel"></div>
        </div>
        <section id="editor">
            <div id='edit' style="margin-top: 30px;"></div>
        </section>
        <input type="button" id="btnWrite" value="저장" />
        <script src="../js/froala_editor.min.js"></script>
    </div>

    <script>
        $(function(){
            $('#edit').editable({inlineMode: false, imageUploadURL: '/upload', height: 500, buttons: ["bold", "italic", "underline", "strikeThrough", "fontFamily", "fontSize", "color", "formatBlock", "align", "insertOrderedList", "insertUnorderedList", "outdent", "indent", "selectAll", "createLink", "insertImage", "insertVideo", "undo", "redo", "inserthorizontalrule", "html"]});
        });
    </script>
<% include footer.html %>